<div style="margin-top: 20px;" class="container">
      <div style="background-color: green;" class="card">
          <div style="color:white;font-weight: bold;font-size: large;" class="card-header">
            What is Angular?
          </div>
          <div style="background-color: lightgreen;" class="card-body">
            <blockquote class="blockquote mb-0">
              <p>AngularJS is a completely structural Framework for all dynamic web Application Development.
                In AngularJS a basic HTML Language for template design has considered and the syntax to the application remains as usual as HTML.
                AngularJS is a purely a client-side Application. It handles all DOM and AJAX glue code that written by user.
                In Angular JS a directives are extended by HTML attributes such as with prefix ng-.
                This ng-app directive initializes an AngulatJS application.
                This ng-model directive binds all the HTML values of a control as input, select, textarea..</p>
             
            </blockquote>
          </div>
        </div>

        <div style="background-color: green;margin-top: 20px;" class="card">
            <div style="color:white;font-weight: bold;font-size: large;" class="card-header">
                What is AngularJS used for?
            </div>
            <div style="background-color: lightgreen;" class="card-body">
              <blockquote class="blockquote mb-0">
                <p>AngularJS is a structural framework for dynamic web apps. 
                    It lets you use HTML as your template language and lets you extend HTML's syntax to
                     express your application's components clearly and succinctly. AngularJS's data binding 
                     and dependency injection eliminate much of the code you would otherwise have to write.</p>
               
              </blockquote>
            </div>
          </div>
  </div>